<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
         backupGlobals="false"
         beStrictAboutCoversAnnotation="true"
         beStrictAboutOutputDuringTests="true"
         beStrictAboutTestsThatDoNotTestAnything="true"
         beStrictAboutTodoAnnotatedTests="true"
         verbose="true"
         bootstrap="bootstrap.php">
    <php>
        <var name="unitTest" value="true" />
    </php>
  <logging>
    <log type="coverage-clover" target="../build/logs/clover.xml"/>
  </logging>
  <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../core/class/</directory>
        </whitelist>
    </filter>    
</phpunit>